.container {
    text-align: center;
}

.header{
    background-color: #B0DDFC;
    height: 38vh;
}

.logo img {
    width: 9rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 28%;
    margin: auto;
    font-size: 20px;
}

.menu a {
    margin: 1rem;
    cursor: pointer;
}

.banner {
    margin: 3rem;
}