*{
    margin: 0;
}
.container {
    text-align: center;
    font-family: Tahoma;
}

.header {
    background-color: #B0DDFC;
    height: 38vh;
}

.logo img {
    width: 9rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    font-size: 20px;
}

.menu a {
    margin: 1rem;
    cursor: pointer;
    color: black;
}

.banner {
    margin: 3rem;
}

.find-imovel {
    margin: 0 auto;
    width: 78%;
    line-height: 1rem;
}

.find-imovel img, .corretores img {
    width: 28rem;
}

.find-imovel h2 {
    margin-bottom: 2rem;
    margin-top: 1.5rem; 
    color: #3A79A2;
    font-weight: normal;
}

.find-imovel p {
    text-align: left;
    font-size: 19px;
    line-height: 1.4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.find-imovel span {
    font-weight: bold;
}


.find-imovel span, .corretores h2, .corretores span {
    color: #3A79A2;
    font-weight: bold;
}

.services {
    background-color: #1D80C1;
    color: #f3f6f8;
    line-height: 2rem;
    font-size: 22px;
    font-weight: 600;
    height: 69vh;
}

.services h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.services p {
    width: 55.6%;
    margin: 0 auto;
}

.services ul {
    width: 10%;
    margin: 2rem auto;
    text-align: left;
}

.services span, .contacts span {
    color:#FFF945;
}

.corretores h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.corretores p {
    width: 75%;
    margin: 1rem auto;
    text-align: left;
    line-height: 1.5rem;
}

.contacts{
    background-color: #1D80C1;
    color: #f3f6f8;
    font-weight: bold;
    height: 110vh;
}

.contacts h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.contacts p {
    border: 1px solid #1D1D1D;
    background-color: #1D1D1D;
    width: max-content;
    margin: 2rem auto;
    padding: 1rem;
}

.contacts li {
    list-style: none;
    border: 1px solid #f3f6f8;
    width: max-content;
    margin: 1rem auto;
    background-color: #f3f6f8;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    color: #3A79A2;
}

a.links{
    color: inherit;
}